DISCORD_TOKEN= # Your Discord bot token
CHANNEL_ID= # Channel ID of the channel you want to send the messages to
HC_API_URL=""
SITE_EMAIL= # Your site account email for /api/users/login
SITE_PASSWORD= # Your site account password for /api/users/login