DISCORD_TOKEN= # Your Discord bot token
CHANNEL_IDS= # Channel IDs of the channels you want to send the messages to, comma separated
HC_API_URL=""
SITE_EMAIL= # Your site account email for /api/users/login
SITE_PASSWORD= # Your site account password for /api/users/login